.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // flex-wrap: wrap;
  margin-top: 2rem;
  // border: 1px solid red;
  width: 100%;
}

.app__profile-item {
  width: 275px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;

  img {
    width: 100%;
    height: 170px;
    border-radius: 15px;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;

    img {
      height: 320px;
    }
  }
}

.app__profile-project {
  // border: 1px solid black;
  // background-color: black;
  height: 350px;
  width: 650px;
  // background-image: url("../../assets/web3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}